.sidebar {
    padding: 10px 20px;
    grid-area: side;
    border-right: 1px solid hsl(0, 3%, 90%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: max-content;
    min-width: min-content;
}
/* .link > .linkIcon {
    max-width: 30px;
} */
.link {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
